{% block body %}
{% include 'header.html' %}

{% if error == "no" %}
<script>
    alert("Event detail has been added successfully");
    window.location = ("{% url 'view_event' %}")
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("something went wrong, Try again..");
</script>
{% endif %}

<div class="container mt-5">
    <h2 class = "text-center" style = "color : red ; font-weight : bold ;
     font-family : Castellar">"ADD Event "</h2>
<form class="container mt-4" name="signup" method="post" enctype="multipart/form-data" onsubmit="return checkpass();">
    {% csrf_token %}
    <label><b>Organizer Name</b></label>
    <input type = "text" name="ename" class="form-control" placeholder="Enter Event name"required>
    <label><b>Image</b></label>
    <input type="file" class="form-control" name="image"required>
    <label><b>Category</b></label>
            <select name="category" class="form-control">
                {% for i in category %}
            <option value="{{i.categoryname}}">{{i.categoryname}}</option>
          {% endfor %}
           </select>

    <label><b>Description</b></label>
    <textarea class="form-control" name="description" placeholder="Enter Description" required></textarea>

    <label><b>StartDate</b></label>
    <input type = "date" name="startdate" class="form-control" required>
    <label><b>EndDate</b></label>
    <input type = "date" name="enddate" class="form-control" required>
    <label><b>venue(Event Address)</b></label>
    <textarea class="form-control" name="venue" placeholder="Enter Address" required></textarea>

    <label><b>Entry Price</b>
    </label><input type = "text" name="price" class="form-control" placeholder="Enter price" required>

    <input type="submit" value="Submit" class="btn btn-primary my-2" style="width:200px">
    </div>
   
</form>

{% endblock %}