{% load static %}
{% block body %}
{% include 'navigation.html' %}
<head>
<script>
    function checkpass()
    {
        if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
        {
        alert('New password and confirm password does not match');
        document.changepassword.confirmpasssword.focus();
        return false;
        }
        return true;
    }
</script>
</head>
<marquee style="font-size: 22px; color:aqua; background-color: beige;font-family: monotype corsiva;margin-top: 1%;">
    Change password
 </marquee>
    <form class="container mt-5" name="changepassword" method="post" onsubmit="return checkpass()">
      {% csrf_token %}
    <label><b>Current password</b></label>
    <input type = "password" name="currentpassword" class="form-control"required="true">
    <label><b>New password</b></label>
    <input type = "password" name="newpassword" class="form-control"required="true">
    <label><b>confirm password</b></label>
    <input type = "password" name="confirmpassword" class="form-control"required="true">
    <input type = "submit" name = "submit" value= Change  style = "width : 200px;" 
     class="btn btn-primary mt-5">
    </form>

      
{% if error == "no" %}
<script>
    alert("Your password changed Successfully");
    window.location = ("{% url 'Logout' %}")
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert("Your old password is not currect");
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("something went wrong, Try again..");
</script>
{% endif %}
{% endblock %}