{% block body %}
{% include 'ownernavigation.html' %}

<h4 class="mt-4 ml-3" style="font-size: 22px; color: blueviolet;">Welcome {{request.user.first_name}} {{request.user.last_name}}</h4>

<div class="container" style = "margin-top:50px">
    <h2 class="text-center" style = "font-family : Castellar ; font-weight : bold ; color : red">Owner Profile</h2>
    <br>
    <form method = post enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-8">    
    <table class = "table">
    <tr>
    <th>First Name</th>
    <td><input type = text name='fname' class="form-control" value="{{data.owner.first_name}}"></td>
    </tr>

        <tr>
    <th>Last Name</th>
    <td><input type = text name='lname' class="form-control"  value="{{data.owner.last_name}}"></td>
    </tr>
    <tr>
    <th>EmailID</th>
    <td>{{data.owner.username}}</td>
    </tr>
    <tr>
    <th>Contact</th>
    <td>{{data.ownermobile}}</td>
    </tr>

        <tr>
    <th>Address</th>
    <td><textarea name="address" class="form-control" placeholder="Address" required>{{data.owneraddress}}</textarea></td>
    </tr>

        <tr>
    <th>Reg. Date</th>
    <td>{{data.ownerregdate}}</td>
    </tr>

    </table></div>
    <div class="col-sm-3">
        <label>Image</label>
        <input type="file" class="form-control" name="image">

      <img src="{{data.ownerimage.url}}" width="220px" height="220px">
</div>
    <input type = submit value = "Edit Profile" name = submit class="btn btn-primary">
    </form>
    </div>


{% if error == "no" %}
<script>
    alert("Profile Updated Successfully");
    window.location = ('{% url "ownerhome" %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("something went wrong");
</script>
{% endif %}
{% endblock %}

